<mat-toolbar color="primary">
  <span>Holiday Pack</span>
</mat-toolbar>

<div class="container">
  
  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
  <mat-step>
      <ng-template matStepLabel>Day Plan</ng-template>

        <p>plane or train</p>

      <div>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
  </mat-step>


  <mat-step>
      <ng-template matStepLabel>Flights</ng-template>
      
        <p>cabs</p>

      <div>
        <button  mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button  mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
  </mat-step>


  <mat-step>
      <ng-template matStepLabel>Hotels</ng-template>
      
        <p>cabs</p>

      <div>
        <button  mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
  </mat-step>


  <mat-step>
      <ng-template matStepLabel>Cabs</ng-template>
      
        <p>cabs</p>

      <div>
        <button  mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-flat-button color="primary" matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
  
</div>